<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>cover_0.jpg</string>
		<key>description_img</key>
		<string>花灯</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_1.jpg</string>
		<key>description_img</key>
		<string>花瓣</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_2.jpg</string>
		<key>description_img</key>
		<string>夏花</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_3.jpg</string>
		<key>description_img</key>
		<string>身影</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_4.jpg</string>
		<key>description_img</key>
		<string>漫步</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_5.jpg</string>
		<key>description_img</key>
		<string>远方</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_6</string>
		<key>description_img</key>
		<string>雪人</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_7.jpg</string>
		<key>description_img</key>
		<string>校车</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_8</string>
		<key>description_img</key>
		<string>熊熊</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_9</string>
		<key>description_img</key>
		<string>树叶</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_10</string>
		<key>description_img</key>
		<string>纸鹤</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_11</string>
		<key>description_img</key>
		<string>盆栽</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cover_default.jpg</string>
		<key>description_img</key>
		<string>进击的美食</string>
	</dict>
</array>
</plist>
